
<div class="w-100 d-flex" style="margin-top:0.5rem">
        <a href="#"><i class="far fa-heart"></i></a>
        <h5 class="likescount mx-auto">{{footer.likesCount}}</h5>
        <div class="likesPic mx-auto">
            <span *ngFor="let likePic of footer.likes">
            <img [src]="likePic.img">
        </span>
        </div>
        <div class="likesName mx-auto">
            <span *ngFor="let likeName of footer.likes">
            <span>{{likeName.name+","}}</span>
        </span>
        <span>and 6 others liked</span>
        </div>
        <div class="comments mx-auto">
            <a href="#" [hidden]="visible"><i class="far fa-comment-alt"></i></a>
            <h5 class="cmntCount">{{footer.cmtCount}}</h5>
        </div>
        <div class="shares mx-auto">
            <a href="#"><i class="far fa-share-square"></i></a>
            <h5 class="shareCount">{{footer.shareCnt}}</h5>
        </div>
    </div>