<nav class="navbar fixed-top navbar-bg">
    <a class="navbar-brand" href="#">
        <img src="../assets/imgs/Logo.png">
    </a>
    <h6>Profile Name</h6>
    <input type="text" placeholder="Search friends" class="search-box form-control">
    <a href="#">
        <h6>Find Friends</h6>
    </a>
    <div class="alert-icons">
        <img src="../assets/imgs/smiley.png">
        <img src="../assets/imgs/message.png">
        <img src="../assets/imgs/bell.png">
    </div>
    <div class="user-info">
        <img [src]="userImg">
        <div class="user-name ml-2">
            <h6>Harry Potter
                <span class="ml-1"><img src="../assets/imgs/dropdown.png" class="chevron-down"></span>
            </h6>
            <p class="mt-2">The boy who lived !</p>
        </div>
    </div>
</nav>
<div class="left-menu">
    <i class="fas fa-bars"></i>
    <i class="fas fa-newspaper" (click)="show()"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-user-friends"></i>
    <i class="fas fa-calendar-alt"></i>
    <i class="fas fa-birthday-cake"></i>
    <i class="fas fa-chart-bar"></i>
    <i class="fas fa-user-circle"></i>
</div>
<div class="main-content">
    <div class="cover-img">
        <img src="../assets/imgs/cover-pic.jpg">
        <div class="timeline-menu">
            <div class="timeline-menu-left">
                <a routerLink="">Timeline</a>
                <a>About</a>
                <a routerLink="/friends-list" routerLinkActive="active">Friends</a>
            </div>
            <div class="timeline-user-profile">
                <img src="../assets/imgs/user-pic.jpg" data-toggle="modal" data-target="#myModal">
            </div>
            <div class="timeline-menu-right">
                <a href="#">Photos</a>
                <a href="#">Videos</a>
                <a href="#"><i class="fas fa-ellipsis-h"></i></a>
            </div>
        </div>
    </div>
    <div class="chat-menu">
        <div class="chat-img">
            <img src="../assets/imgs/user-pic-1.jpg">
            <span class="active-chat"></span>
        </div>
        <div class="chat-img">
            <img src="../assets/imgs/user-pic-2.jpg">
        </div>

        <div class="chat-img">
            <img src="../assets/imgs/user-pic-3.jpg">
            <span class="active-chat"></span>
        </div>

        <div class="chat-img">
            <img src="../assets/imgs/user-pic-1.jpg">
        </div>

        <div class="chat-img">
            <img src="../assets/imgs/user-pic-3.jpg">
        </div>

        <div class="chat-img">
            <img src="../assets/imgs/user-pic-2.jpg">
            <span class="active-chat"></span>
        </div>
        <div class="chat-img">
            <img src="../assets/imgs/user-pic-3.jpg">
            <span class="active-chat"></span>
        </div>
    </div>
</div>
<div class="container mx-auto w-80 mt-20px d-flex">
    <div class="container-left">
        <div class="card">
            <div class="card-body p-2">
                <h6 class="card-title p-1">
                    Profile Intro
                </h6>
                <hr>
                <div class="about-user d-flex flex-column justify-content-between mt-1">
                    <div class="about my-2">
                        <h6>About Me:</h6>
                        <p>Hi, I’m James, I’m 36 and I work as a Digital Designer for the “Daydreams” Agency in Pier 56.
                        </p>
                    </div>
                    <div class="fav-shows my-2">
                        <h6>Favourite TV Shows:</h6>
                        <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
                    </div>
                    <div class="fav-music my-2">
                        <h6>Favourite Music Bands / Artists:</h6>
                        <p>Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="container-right ml-auto">
        <div class="card">
            <div class="card-body p-2">
                <h6 class="card-title p-1">
                    Profile Intro
                </h6>
                <hr>
                <div class="about-user d-flex flex-column justify-content-between mt-1">
                    <div class="about my-2">
                        <h6>About Me:</h6>
                        <p>Hi, I’m James, I’m 36 and I work as a Digital Designer for the “Daydreams” Agency in Pier 56.
                        </p>
                    </div>
                    <div class="fav-shows my-2">
                        <h6>Favourite TV Shows:</h6>
                        <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
                    </div>
                    <div class="fav-music my-2">
                        <h6>Favourite Music Bands / Artists:</h6>
                        <p>Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="postModal" [style.display]="hideModal">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" [style.display]="hideAlert">
        <button type="button" class="close" aria-label="Close" (click)="alert()">
            <span aria-hidden="true">&times;</span>
          </button>
        <span>Please select a post type</span>
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"><i class="fa fa-close" (click)="hide()"></i></button>
        </div>
        <select class="form-control" [(ngModel)]="type" #postType>
                <option value=0>Select Post Type</option>
                <option value=1>Message Post</option>
                <option value=2>Image Post</option>
                <option value=3>Polls Post</option>
            </select>
        <div *ngIf="type == '1'">
            <div class="form-group my-3">
                <input type="text" name="msgPost" placeholder="Enter Message" class="form-control p-2" [(ngModel)]="msg">
            </div>
        </div>
        <div *ngIf="type == '2'">
            <div class="form-group my-3">
                <input type="text" name="imagePOst" placeholder="URL" class="form-control p-2" [(ngModel)]="image">
            </div>
        </div>
        <div *ngIf="type == '3'">
            <div class="form-group my-3">
                <input type="text" name="pollsQuestion" placeholder="Enter Question" class="form-control p-2" [(ngModel)]="pollsData.question">
            </div>

            <div class="form-group my-3">
                <input type="text" name="pollsAns1" placeholder="Enter Answer 1" class="form-control p-2" [(ngModel)]="pollsData.ans1">
            </div>

            <div class="form-group my-3">
                <input type="text" name="pollsAns2" placeholder="Enter Answer 2" class="form-control p-2" [(ngModel)]="pollsData.ans2">
            </div>

            <div class="form-group my-3">
                <input type="text" name="pollsAns3" placeholder="Enter Answer 3" class="form-control p-2" [(ngModel)]="pollsData.ans3">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-block btn-primary float-right" (click)="createPost(postType.value)">Add Post</button>
        </div>
    </div>