<div class="card friend-card">
    <div class="card-body">
        <div class="d-flex flex-row align-items-center">
            <img src="../../assets/imgs/user-pic-1.jpg" width="35" height="35" class="friends-list-img">
            <h5 class="friend-name">Draco Malfoy</h5>
            <div class="ml-auto">
                <button type="button" class="btn btn-sm btn-primary">Unfriend</button>
                <button type="button" class="btn btn-sm btn-dark ml-1">View Profile</button>
            </div>
        </div>
    </div>
</div>