.user-post{
    display: flex;
}
.user-post img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
}
.post-name{
    margin-top: 6px;
    margin-bottom: auto;
    margin-left: 10px;
}
.post-name h5{
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.post-name p{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
}
.reply{
    font-size: 0.9rem;
    margin-bottom: 0rem;
}
.likescount{
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 0px;
}
.comment-msg{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}